{% extends 'base.html.twig' %}

{% block title %}Armes
{% endblock %}
{% block monTitre %}Liste des armes
{% endblock %}
{% block body %}
	{% for arme in armes %}
		<div class="row">
			<div class="col-2">
				<img src="{{ asset("images/armes/")}}" alt="">
			</div>
			<div class="col">
				<a href="{{path("show_arme" , {"name":arme.name}) }}">{{arme.name}}</a>
			</div>
		</div>

	{% endfor %}
{% endblock %}
